# Git ignore file for LunarEclipse repository

# Ignore build directory
Build/

# Ignore all proprietary Varian DLLs found locally
VMS.*.dll

# Ignore all testing executables and report PDFs found locally
*.exe
*.pdf
